<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_5584639_FinalProject.Properties.Settings.ConnectionString"
            connectionString="TNS_ADMIN=C:\Users\JIHU\Oracle\network\admin;USER ID=S5584639;PASSWORD=S5584639;DATA SOURCE=localhost:1521/xepdb1;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>